<% provide(:page_title, titleize(t(:sign_in))) %>
<div class="well well-lg">
    <h1><%= titleize(t(:sign_in))%></h1>

    <%= form_for(:session, url: sessions_path, :html => { :class => "form-horizontal"}) do |f| %>
        <div class="form-group">
           <%= f.label :email, titleize(t(:email)), :class => 'col-sm-4 control-label' %>
           <div class="col-sm-8">
                <%= f.text_field :email, :class => 'form-control short-input' %> 
           </div>
        </div>
        <div class="form-group">
           <%= f.label :password, titleize(t(:password)), :class => 'col-sm-4 control-label' %>
           <div class="col-sm-8">
                <%= f.password_field :password, :class => 'form-control short-input' %> 
           </div>
        </div>
        <br />
        <div class="form-group">
             <div class="col-sm-offset-4 col-sm-8">
                <%= f.submit titleize(t(:sign_in)), class: "btn btn-primary" %>
             </div>
        </div>

    <% end %>
    <div class="form-group">
       <div class="col-sm-offset-4 col-sm-8">
          <p><%= titleize(t(:new_user))%> <%= link_to titleize(t(:sign_up)), signup_path %></p>
       </div>
    </div>
    <br>
</div>
