<% provide(:page_title, titleize(t(:authors_index))) %>
<h1><%= titleize(t(:authors_index))%></h1>

<%= will_paginate %>

<ul class="people">
  <%= render @authors %>
</ul>

<%= will_paginate %>

<% if signed_in? && current_user.admin? %>
    <%= link_to titleize(t(:add_author)), new_author_path %>
<% end %>