<% provide(:page_title, titleize(t(:authors_index))) %>
<h1><%= titleize(t(:authors_index))%></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:surname) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.surname %></td>
        <td><%= link_to titleize(t(:show)), author %></td>
        <td><%= link_to titleize(t(:edit)), edit_author_path(author) %></td>
        <td><%= link_to titleize(t(:destroy)), author, method: :delete, data: { confirm: titleize(t(:are_you_sure)) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if signed_in? && current_user.admin? %>
    <%= link_to titleize(t(:add_author)), new_author_path %>
<% end %>
