<% provide(:page_title, titleize(t(:authors_index))) %>
<h1><%= titleize(t(:authors_index))%></h1>

<div class="row">
  <div class="col-md-6">
     <%= will_paginate %>
  </div>
  <div class="col-md-6">
      <div class="search-on-top input-append">
            <input id="author_search" name=":author_search" type="text" placeholder="<%=t(:author_search)%>">
            <button type="button" class="btn btn-primary" id="search_for_author">
                <%=titleize(t(:search))%>
            </button>
      </div>
  </div>
</div>

<ul class="people">
  <%= render @authors %>
</ul>

<%= will_paginate %>

<br><br><br>
<% if signed_in? && current_user.admin? %>
    <%= link_to titleize(t(:add_author)), new_author_path %>
<% end %>