<% provide(:page_title, t(@author.name, @author.surname)) %>
<p id="notice"><%= notice %></p>

<p>
  <strong<%= titleize(t(:name)) %>:</strong>
  <%= @author.name %>
</p>
<p>
  <strong><%= titleize(t(:surname)) %>:</strong>
  <%= @author.surname %>
</p>

<% if current_user.admin? %>
    <%= link_to titleize(t(:edit)), edit_author_path(@author) %> |
<% end %>
<%= link_to titleize(t(:back)), authors_path %>
