<% provide(:page_title, titleize(t(:edit_profile))) %>
<h1><%= titleize(t(:edit_profile))%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
     <%= render 'fields', f: f %>

      <%= f.submit titleize(t(:save)), class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to titleize(t(:back)), @user %>
  </div>
</div>