<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		The form contains <%= pluralize(@book.errors.count, "error") %>.
	</div>
	<ul>
		<% @book.errors.full_messages.each do |msg| %>
		<li>
			* <%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row">
	<div class="span6 offset3">
		<%= f.label :title, titleize(t(:title)) %>
		<%= f.text_field :title %>

        <%= f.label :author, titleize(t(:author)) %>
        
       
       <div class="input-append" id="book_author_select_div">
            <%= f.collection_select(:author_id, Author.all.order(:surname), :id, :surname_and_name,
                {:include_blank => true}, {style: "width:115%"} ) %>
            <button class="btn btn-large btn-primary" style="padding:9px" data-toggle="modal" data-target="#addAuthorModal">
                <%= titleize(t(:add_author))%>
            </button>
        </div>

		<%= f.label :isbn, titleize(t(:isbn)) %>
        <%= f.text_field :isbn %>

		<%= f.label :language, titleize(t(:language)) %>
		<%= f.text_field :language %>

		<%= f.label :description, titleize(t(:description)) %>
		<%= f.text_field :description %>

		<%= f.label :quantity, titleize(t(:quantity)) %>
		<%= f.number_field :quantity %>

		<%= f.label :place, titleize(t(:place)) %>
		<%= f.text_field :place %>

		<%= f.label :release_date, titleize(t(:release_date)) %>
		<%= f.text_field :release_date, :id =>"release_date" %>

		<%= f.label :pages, titleize(t(:pages)) %>
		<%= f.number_field :pages %>

        <%= f.label :photo, titleize(t(:photo)) %>
        <%= f.file_field :photo %>
        <br />
		<%= f.submit titleize(t(:save)), class: "btn btn-large btn-primary" %>
	</div>
</div>
<% end %>

<!-- Modal -->
<div class="modal hide fade" id="addAuthorModal" tabindex="-1" role="dialog"
    aria-labelledby="add_author_dialog_lbl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add_author_dialog_lbl"><%=titleize(t(:add_author))%></h4>
      </div>
      <div class="modal-body">
        <label for="author_name"><%=titleize(t(:name))%></label>
        <input id="author_name" name="author[name]" type="text">
        <label for="author_surname"><%=titleize(t(:surname))%></label>
        <input id="author_surname" name="author[surname]" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save_new_author"><%=titleize(t(:save))%></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=titleize(t(:close))%></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->