<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		The form contains <%= pluralize(@book.errors.count, "error") %>.
	</div>
	<ul>
		<% @book.errors.full_messages.each do |msg| %>
		<li>
			* <%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row">
	<div class="span6 offset3">
		<%= f.label :isbn, titleize(t(:isbn)) %>
		<%= f.text_field :isbn %>

		<%= f.label :title, titleize(t(:title)) %>
		<%= f.text_field :title %>

		<%= f.label :author, titleize(t(:author)) %>
		<%= f.collection_select :author_id, Author.order(:surname), :id, :name_and_surname, include_blank: true %>

		<%= f.label :language, titleize(t(:language)) %>
		<%= f.text_field :language %>

		<%= f.label :description, titleize(t(:description)) %>
		<%= f.text_field :description %>

		<%= f.label :photo, titleize(t(:photo)) %>
		<%= f.text_field :photo %>

		<%= f.label :quantity, titleize(t(:quantity)) %>
		<%= f.number_field :quantity %>

		<%= f.label :place, titleize(t(:place)) %>
		<%= f.text_field :place %>

		<%= f.label :release_date, titleize(t(:release_date)) %>
		<%= f.text_field :release_date, class: "datepicker" %>

		<%= f.label :pages, titleize(t(:pages)) %>
		<%= f.number_field :pages %>

		<%= f.submit titleize(t(:save)), class: "btn btn-large btn-primary" %>
	</div>
</div>
<% end %>
