<% provide(:page_title, t(@book.title)) %>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= titleize(t(:isbn)) %>:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong><%= titleize(t(:title)) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= titleize(t(:author)) %>:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong><%= titleize(t(:language)) %>:</strong>
  <%= @book.language %>
</p>

<p>
  <strong><%= titleize(t(:description)) %>:</strong>
  <%= @book.description %>
</p>

<p>
  <strong><%= titleize(t(:photo)) %>:</strong>
  <%= @book.photo %>
</p>

<p>
  <strong><%= titleize(t(:quantity)) %>:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong><%= titleize(t(:place)) %>:</strong>
  <%= @book.place %>
</p>

<p>
  <strong><%= titleize(t(:release_date)) %>:</strong>
  <%= @book.release_date %>
</p>

<p>
  <strong><%= titleize(t(:pages)) %>:</strong>
  <%= @book.pages %>
</p>

<% if current_user.admin? %>
    <%= link_to titleize(t(:edit)), edit_book_path(@book) %> |
<% end %>
<%= link_to titleize(t(:back)), books_path %>
