<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @book.photo %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Place:</strong>
  <%= @book.place %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @book.release_date %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
