<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">    
    <div class="container">
        <div class="navbar-header">
            <%= link_to t(:books_index), root_path, id: "logo" %>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
                <li><%= link_to titleize(t(:help)), help_path %></li>
                  <% if signed_in? %>
                    <li id="fat-menu" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= titleize(t(:books)) %> <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to titleize(t(:books_index)), books_path %></li>
                        <li><% if current_user.admin? %><%= link_to titleize(t(:add_book)), new_book_path %><% end %></li>
                      </ul>
                    </li>
                    <li id="fat-menu" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= titleize(t(:authors)) %><b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to titleize(t(:authors_index)), authors_path %></li>
                        <li><% if current_user.admin? %><%= link_to titleize(t(:add_author)), new_author_path %><% end %></li>
                      </ul>
                    </li>
                    <li><%= link_to titleize(t(:users_index)), users_path %></li>
                    <li id="fat-menu" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= titleize(t(:account)) %> <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to titleize(t(:profile)), current_user %></li>
                        <li><%= link_to titleize(t(:settings)), edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to titleize(t(:sign_out)), signout_path, method: "delete" %>
                        </li>
                      </ul>
                    </li>
                  <% else %>
                    <li><%= link_to titleize(t(:sign_in)), signin_path %></li>
                  <% end %>
            </ul>
        </nav>
    </div>
</header>